RAILS_ENV=development
POSTGRES_HOST=evd_events_db
POSTGRES_DB=events_development
POSTGRES_USER=cesarvalderrama
POSTGRES_PASSWORD=password

# Shared secret with the skyiniciados app
#INTERNAL_API_KEY=

# When running inside Docker, use host.docker.internal to reach apps running inside Docker.
# On PROD (Heroku) set this to the full URL of the skyiniciados app.
#FEDERATED_APP_BASE_URL=http://host.docker.internal:3000