RAILS_ENV=development
POSTGRES_HOST=evd_events_db
POSTGRES_DB=events_development
POSTGRES_USER=cesarvalderrama
POSTGRES_PASSWORD=password

# Shared secret with the skyiniciados app
INTERNAL_API_KEY=

# FEDERATED_APP_BASE_URL Only needs to be set on PROD, it defaults to http://localhost:3000 if not set
# FEDERATED_APP_BASE_URL=